@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* for debugging purpose
    outline: solid limegreen 1px;
    */
}

.module{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  
    .section__imagebox{
        display: flex;
        justify-content: center;
  
        img{
            width: 100%;
            max-width: 505px;
            object-fit: cover;
      }
    }

    .description__button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #e4c1ae;
        color: white;
        width: 128px;
        height: 48px;
        gap: 10px;
        padding: 16px 40px;
        border: none;
        outline: none;
        border-radius: 32px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        cursor: pointer;
    }

    .section__description{
        margin-top: 1rem;
        max-width: 380px;
        font-style: normal;
        color: #121212;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .description__title{
            font-weight: 700;
            font-size: 42px;
            line-height: 50px;
        }
    
        .description__text{
            padding: 1rem;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .popup__overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0; 
        visibility: hidden; 
        transition: .3s;

        .popup__content{
            position: relative;
            width: 75%;
            padding: 3rem 2rem;
            text-align: left;
            background-color: white;
            opacity: 0; 
            visibility: hidden; 

            h2{
                font-weight: 700;
                font-size: 42px;
                line-height: 120%;
                margin-bottom: 1rem;
            }

            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;

                span{
                    font-weight: 700;
                }
            }

            .popup__close {
                position: absolute;
                right: 1rem;
                top: 1rem;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }

    .popup__overlay.active, .popup__content.active{
        opacity: 1;
        visibility: visible;
    }
}